        </main>
        <footer class="footer">
            Contact us: <a class="footer__link" href="#">product-catalog@example.com</a>
        </footer>
        <script src="/bundle.js"></script>
    </body>
</html>
